<div *ngIf="exemplaarService.getSessionUserType() == 'medewerker'">
<router-outlet name="popup"></router-outlet>
<h2>
  Exemplaar overzicht
</h2>
<!-- het toevoegen van '' in de routerlink zorgt ervoor dat de routerlink de juiste link pakt en werkt binnen een router-outlet-->
<input type="button" class="btn btn-primary" [routerLink]="['',{ outlets: { popup: ['exemplaarToevoegen', hardwareId] } }]" value="Nieuw Exemplaar">
<table>
  <tr>
  <th>SerieNummer</th>
  <th>Status</th>
  <th>Detail</th>
  <th>Verwijder dit exemplaar</th></tr>
  <tr *ngFor="let exemplaar of exemplaarList | async">
    <td>{{exemplaar.payload.val().serienummer}}</td>
    <td>{{exemplaar.payload.val().status}}</td>
    <td >
      <a [routerLink]="['',{ outlets: { popup: ['exemplaarWijzigen', exemplaar.payload.key] } }]">Exemplaar Detail</a>
    </td>
    <td><input type="button" class="btn" (click)="deleteHardware(exemplaar.payload.key)"value="Verwijder"></td>
  </tr>
</table>
</div>
