<div class="popup" *ngIf="hardwareService.getSessionUserType() == 'student'">
  <img [src]="image" alt="Voorbeeld afbeelding" height="100px" width="100px">
  <br>
  Naam {{(hardwareInformation | async)?.naam}}<br>
  <br>
  Aantal in voorraad {{aantalInVoorraad}}<br>
  <br>
  Aantal te reserveren
  <input type="number" name="quantity" #aantal min="1" max="{{  aantalInVoorraad}}">
  <p *ngIf="!sending">
    <button type="button" class="btn" (click)="cancel()">Annuleren</button>
    <button type="button" class="btn btn-primary" (click)="reserveerHardware(aantal.value)">
      Reserveren
    </button>
  </p>
</div>
