<p>
  hardware overzicht
</p>
<a [routerLink]="[{ outlets: { popup: ['hardwareToevoegen'] } }]">Create</a>

<table>
  <tr>
    <th>Id</th>
    <th>naam</th>
    <th>beschrijving</th>
  </tr>
  <tr *ngFor="let hardware of hardwareService.hardwareList | async">
    <td >
        <a [routerLink]="[{ outlets: { popup: ['hardwareWijzigen/'+hardware.payload.key] } }]">{{hardware.payload.key}}</a>
    </td>
    <td>{{hardware.payload.val().naam}}</td>
    <td>{{hardware.payload.val().beschrijving}}</td>
  </tr>
</table>
<router-outlet name="popup"></router-outlet>
