<p>
  hardware overzicht
</p>
<div *ngIf="hardwareService.getSessionUserType() == 'medewerker'">
<a [routerLink]="[{ outlets: { popup: ['hardwareToevoegen'] } }]">Create</a>

<table>
  <tr>
    <th>Naam</th>
    <th>Beschrijving</th>
    <th>Verwijder Hardware</th>
  </tr>
  <tr *ngFor="let hardware of hardwareService.hardwareList | async">
    <td>{{hardware.payload.val().naam}}</td>
    <td>{{hardware.payload.val().beschrijving}}</td>
    <td >
      <a [routerLink]="[{ outlets: { popup: ['hardwareWijzigen', hardware.payload.key] } }]">Hardware Details</a>
    </td>
    <td><input type="button" (click)="deleteHardware(hardware.payload.key)" src="https://www.google.nl/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiTlajdwZ3XAhVM6qQKHaDGAv0QjRwIBw&url=http%3A%2F%2Fwww.pvhc.net%2FSmall-Delete-Icon20tsezejah%2F&psig=AOvVaw30sfsJl47WItCh2G0W4gPA&ust=1509630410688876" alt="Delete" width="48" height="48" value="Verwijder"></td>
  </tr>
</table>
<router-outlet name="popup"></router-outlet>
</div>
